@import url('https://use.typekit.net/whq1fps.css');

.visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

body {
    font-family: "source-sans-pro", "Helvetica Neue", sans-serif !important;
}

#content a,
#content a:link
{
    color: #3174AF !important;
    text-decoration: underline;
}

#content a:hover,
#content a:link:hover
{
    color: #3174AF !important;
    text-decoration-thickness: 2px;
}

/* default bootstrap rules getting clobbered by the above */
.pagination > .active > a,
.ui-paginator > .ui-paginator-pages > a.ui-state-active,
.btn-primary
{
    color: #fff !important;
}

.navbar-brand.custom-logo {
    margin-top: 3px;
}

/* Custom Footer */
#custom-footer {
    padding: 20px;
    text-align: center;
    max-width: 1170px;
    margin: 0 auto;
}


#custom-footer-border {
    content: "";
    width: 200px;
    border-top: 1px solid black;
    display: block;
    height: 30px;
    margin: 0 auto;
}

.custom-footer-logo svg {
    width: 230px;
}

.footer-navigation-menu {
    list-style: none;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
}

.footer-navigation-menu li {
    margin-bottom: 0.3em
}

a#dataverseForm\:j_idt362 {
    display: none;
}

/* hide the share link/button. 3 Rs are correct; dataverse uses sharrre.js */
#actionButtonBlock a[onclick*="sharrre"] {
    display: none;
}

/* login: hide the "allow me to type the name of my institution" control  */
#idpSelectIdPSelector a.IdPSelectDropDownToggle {
    visibility: hidden;
}

/* advanced search: hide "Dataverses" panel */
div.panel:has(> #panelCollapseDataversesFieldList) {
    display: none;
}

/* account info: hide notification tab */
#dataverseUserForm > #dataverseUserForm\:dataRelatedToMeView > ul > li:has(> a[href="#dataverseUserForm:dataRelatedToMeView:notifications"]) {
    display: none;
}

/* impacts contact button, support link, search bar */
.ui-widget {
    font-family: inherit;
}

@media only screen
    and (min-width: 750px) {

    #custom-footer {
        display: flex;
        align-items: baseline;
    }

    .custom-footer-logo svg {
        margin-bottom: -12px;
    }

    .footer-navigation-menu {
        display: flex;
        justify-content: center;
        font-size: 1em;
        letter-spacing: 0.1em;
    }

    .footer-navigation-menu li {
        margin-right: 18px;
    }

    .footer-navigation-menu li:after {
        content: "|";
        margin-left: 17px;
    }

    .footer-navigation-menu li:last-child:after {
        content: "";
    }
}

/* Home page */
#ldsp-logo {
    max-width: 300px;
    height: auto;
}

.ldsp-text {
    font-size: 1.5em;
}

#inputDataverseSearch {
    max-width: 300px;
}

label[for='inputDataverseSearch'] {
    margin-right: 6px;
}

#dataversesBySubject {
    column-count: 2;
}

@media only screen and
(min-width: 800px) {
    .home-flex {
        display: flex;
        align-items: center;
    }

    .ldsp-text {
        margin-left: 20px;
    }
}